.seat {
}
.seatDisabled {
  background-color: #ccc;
}

.seat:hover {
}

.selectable {
  background-color: #333;
}

.selectable:hover {
  background-color: red;
}

.personnel {
  background-color: green;
}

.personnel.selected {
  background-color: #333;
}
